doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Сайт на Pug
    link(rel="stylesheet", href="../css/style.css")
  body 
    - var games = [{title: 'Read Dead Redemption 2', releaseDate: '26 октября 2018', image: 'Red_Dead_Redemption_2_coverart.jpg'}, {title: 'Grand Theft Auto V', releaseDate: '17 сентября 2013', image: 'GTAV_Official_Cover_Art.jpg'}, {title: 'Forza Horizon 5', releaseDate: '1 ноября 2021', image: 'Обложка_Forza_Horizon_5.jpg'}, {title: 'Euro Truck Simulator 2', releaseDate: '19 октября 2012', image: 'header.jpg'}, {title: 'Counter-Strike 2', releaseDate: '27 сентября 2023', image: 'Counter-strike_2.jpg'}, {title: 'Fortnite', releaseDate: '21 июля 2017', image: 'FNBR_35-00_C6MS1_EGS_Launcher_KeyArt_FN_Blade_2560x1440_2560x1440-8fd35061502b51f1df276474d28e7f59.jpg'}, {title: 'PUBG: Battlegrounds', releaseDate: '23 марта 2017', image: 'capsule_616x353.jpg'}]
    
    div(class='container') 
      h1(class='title') Любимые игры
      p(class='text') Игры — это увлекательный способ провести время, развить свои навыки и погрузиться в мир фантазий. Они бывают самых разных жанров: от стратегий и головоломок до экшенов и ролевых игр. Игры помогают расслабиться, испытать азарт, а также учат работать в команде и принимать быстрые решения. Современные технологии сделали игры доступными на самых разных платформах: компьютерах, консолях, смартфонах и даже в виртуальной реальности. Для многих людей игры стали не только развлечением, но и способом самовыражения, общения с друзьями и даже профессиональной деятельностью.</em>
    
      ul(class='grid')
        each game in games
          li(class='grid__item')
            article(class="card")
              a(class="card__image", href="")
                img(src=`../img/${game.image}`)
              h2(class='card__title')
                a(href='' class='card__link')=game.title
              span(class="card__date")= `Дата выпуска: ${game.releaseDate}` 