body {
  font-family: sans-serif;
}
.circle {
  background-color: grey;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.main__content {
  display: flex;
}
.black {
  width: 250px;
  height: 50px;
  background-color: black;
}
.white {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.road {
  width: min-content;
  margin-right: 10px;
  border: solid 3px black;
}
.content {
  display: flex;
}
.light {
  margin-right: 10px;
}
#green.active {
  background-color: green;
}
#red.active {
  background-color: red;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.modal {
  position: relative;
  width: 350px;
  background-color: aliceblue;
  opacity: 0;
  visibility: hidden;
}
.modal__header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
img {
  width: 20px;
}
form {
  padding: 30px 10px;
}
.button {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal:hover {
  transition: 0.5s;
}
.container:hover {
  transition: 0.5s;
}
.active {
  opacity: 1;
  visibility: visible;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.road.red {
  background-color: red;
}
